@font-face{font-family:"Connection";src:url("../../assets/font/Connection.ttf") format("truetype")}body{font-size:10px;color:black;background-color:#ffffff;margin:0;padding:0}body div#game{position:absolute;top:0;left:0;right:0;bottom:0;overflow:auto}