// out: ../css/styles.css, sourcemap: false, compress: true

@font-size: 10px;
@font-color: black;
@background-color: #ffffff;
@h1-size: 50px;

@font-face {
  font-family: "Connection";
  src: url("../../assets/font/Connection.ttf") format("truetype");
}
 
body {
  font-size: @font-size;
  color: @font-color;
  background-color: @background-color;
  margin:0;
  padding:0; 
  div#game { 
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow: auto; 
  }
}
/*@media (max-aspect-ratio:1/1)
{
  #game {
    display: block;
  }
  #portrait {
    display:block;
  }
  #landscape {
    display:none;
  }

}
@media (min-aspect-ratio:1/1)
{
  #game {
    display: none;
  }
  #portrait {
    display:none;
  }
  #landscape {
    display:block;
  }
  

}*/
